 body {
    background-image: url("#{resource['images/sport1.jpg']}");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment:fixed;
} 

.ui-widget, .ui-widget .ui-widget {
     font-size: 90% !important;
     font-family: sans-serif;
}

#page{
	/* width: 800px; */
	width: 95%;
	margin: 0 auto;
}

#header{
	width: 100%;
	/* height:80px; */
	 /* border: 1px solid #000; */
	margin-bottom:0%;
}

#content{
	width: 100%;
	height:90%;
	margin-right:16px;
	margin-bottom:16px;
	 /* border: 1px solid #000;  */
}

#footer{
	width: 100%;
	/* height:100px; */
	text-align: center;
	 /* border: 1px solid #000;  */
}

ul.ui-menu-child {
    font-size: 100px;
}

ul li.ui-menuitem-active>a{
    background-image: none !important;
    background-color:none !important;   
}

li ul li.ui-menuitem-active>a{
    background-image: none !important;
    background-color:#ffcc66 !important;   
}

.companyHeaderGrid.ui-panelgrid>*>tr,
.companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}
.menuitemStyle{
	margin-right:20px;
}
.noBoaderStyle.ui-panelgrid>*>tr,
.noBoaderStyle.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-content.ui-widget-content, 
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header.ui-widget-header,
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer.ui-widget-header,
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header > tr.ui-widget-header, 
.ui-panelgrid.ui-panelgrid-blank tbody > tr.ui-widget-content,
.ui-panelgrid.ui-panelgrid-blank tbody > tr.ui-widget-content > td.ui-panelgrid-cell,
.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer > tr.ui-widget-footer {
    background: none !important;
    border: 0 none !important;
}
.headingColor{
	color: #ffff00;
}
.panelGridCenter {
    margin: 0 auto;
}