<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security
                         http://www.springframework.org/schema/security/spring-security-3.2.xsd ">
 
	<global-method-security secured-annotations="enabled">
	</global-method-security>
 
	<!-- <http
		auto-config="true"
		access-denied-page="/default.xhtml">
 
		<intercept-url
			pattern="/login*"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
			<intercept-url
			pattern="/faces*"
			access="ROLE_USER" />
		<intercept-url
			pattern="/**"
			access="ROLE_USER,ROLE_ADMIN" />
 
		<form-login
			login-processing-url="/j_spring_security_check"
			login-page="/login.xhtml"
			default-target-url="/"
			authentication-failure-url="/login.xhtml" />
			logout-url="/logout" delete-cookies="JSESSIONID"
		<logout logout-success-url="/" invalidate-session="true" delete-cookies="true"/>
	</http> -->
	
	
	
	<http auto-config="true">
		<remember-me/>		
		
		<intercept-url pattern="/login.xhtml*" access="ROLE_ANONYMOUS,ROLE_USER" />
		<intercept-url pattern="/index.jsp*" access="ROLE_USER" />	
		<intercept-url pattern="/faces/pages/**" access="ROLE_USER" /> 
		<intercept-url pattern="/faces/faces/pages/**" access="ROLE_USER" />
		<intercept-url pattern="/faces/default.xhtml*" access="ROLE_USER" />		
					
			<form-login login-processing-url="/j_spring_security_check"
				login-page="/faces/login.xhtml" default-target-url="/"
				authentication-failure-url="/faces/login.xhtml?login_error=1"/>
			<logout/>		
	</http>
 
 <!-- <authentication-manager>
	<authentication-provider>
              <password-encoder
			hash="md5" />
		<user-service>
			<user
				name="lakmal"
				password="098f6bcd4621d373cade4e832627b4f6"
				authorities="ROLE_SUPERVISOR, ROLE_USER, ROLE_TELLER" />
			<user
				name="dianne"
				password="65d15fe9156f9c4bbffd98085992a44e"
				authorities="ROLE_USER,ROLE_TELLER" />
			<user
				name="scott"
				password="2b58af6dddbd072ed27ffc86725d7d3a"
				authorities="ROLE_USER" />
			<user
				name="peter"
				password="22b5c9accc6e1ba628cedc63a72d57f8"
				authorities="ROLE_USER" />
		</user-service>
		</authentication-provider>
	 </authentication-manager> -->
	 
	 <authentication-manager>
		<authentication-provider>

			<password-encoder hash="bcrypt" />

			<jdbc-user-service data-source-ref="dataSource"
				authorities-by-username-query="SELECT users.user_name,roles.name FROM users JOIN user_roles ON users.id=user_roles.user_id
												JOIN roles ON user_roles.role_id=roles.id WHERE users.user_name = ? "
				users-by-username-query="SELECT user_name,password,enabled FROM users WHERE user_name = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>
